<!DOCTYPE html>
<html>
    <head>
        <title>Weather Project | 404</title>
        <link rel="icon" href="/css/img/weather.png">
        <link rel="stylesheet" href="/web-server/public/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            <h1>{{title}}</h1>
            <h2>{{error}}</h2>
        </div>

        {{>footer}}
    </body>

</html>