 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/css/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
        <title>Weather Project | Contact</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}} 
            <p>Find me on <a href="https://www.linkedin.com/in/daniel-abdi-599883196/">Linkedin</a></p> 
        </div>

        {{>footer}}
    </body>
</html>